<div *ngIf="deck.length > 0" class="h-full flex items-end md:items-start">
  <ul class="grid grid-cols-3 gap-3 xl:grid-cols-4">
    <li
      *ngFor="let card of deck"
      class="flex flex-col items-center bg-black shadow-md cursor-pointer hover:border-yellow-300 hover:border-[2px]"
      (click)="removeFromDeck(card)"
    >
      <div class="relative inline-block">
        <img
          src="/utilities/cardasset.png"
          alt="asset"
          class="relative w-full z-40"
        />

        <div
          class="absolute top-[0] left-[0] flex justify-center items-center z-20 w-[23%] h-[20%]"
        >
          <img [src]="card.icon" alt="icon" class="rounded-full max-h-[65%]" />
        </div>
        <div
          class="absolute top-[28%] left-[36%] flex justify-center items-center z-10 w-[23%] h-[20%]"
        >
          <img [src]="card.img" alt="icon" class="max-w-[350%]" />
        </div>
      </div>
    </li>
    <li>
      <button
        class="p-2 bg-white hover:scale-110 transition-transform duration-300 hover:bg-slate-700 hover:text-white hover:border active:bg-white active:text-black"
      >
        Vai all'arena!
      </button>
    </li>
  </ul>
</div>
