<video
  src="/video/start_background.mp4"
  muted
  loop
  autoplay
  playsinline
  class="w-full h-full object-cover"
></video>
<div
  class="absolute top-0 flex flex-col justify-center items-center gap-[5rem] h-full w-full p-5"
>
  <img src="/utilities/logo.png" alt="icongame" class="rounded-full" />
  <button
    class="border px-[3rem] py-2 rounded-xl bg-green-500 text-white lg:hover:scale-150 transition-transform duration-300 active:bg-orange-400"
  >
    <a routerLink="/set-deck">Nuova Partita</a>
  </button>
</div>
